<div class="col-10 col-md-8 col-lg-6 pb-3 communityParty eventSubForm d-flex flex-wrap justify-content-center" id="party-event">
  <h3 class="text-center">MIDDLE EASTERN THEME PARTY - SUNDAY, APRIL 7TH</h3>
  <h5 class="text-center underline my-3">SHOW YOUR APPRECIATION BY HONORING THE BRAVE MEN AND WOMEN OF THE IDF</h5>
  <p class="text-justify">Join us for an elegant and fun night where ancient middle
     eastern customs meets modern day Israeli Soldiers. Help us to celebrate 
     the only democracy in the Middle East...South Florida Style! That means 
     hookahs and humus, tantalizing cocktails under chic tents and embracing 
     the night with modern day warriors.</p>
  <p class="mb-5 text-justify">Please join us to honor our Israeli Warriors so they truly understand 
     their support by America. Spread the word and bring your friends and 
     family (adults only) to this spectacular event. Register Today!</p>
  <a class="btn btn-lg btn-info" href="https://secure.usaepay.com/interface/epayform/UP2BqyI4myAB9U8zGUc5OcaLX5MhbYKP/">Register for the Party Now!</a>

  <div class="container-fluid mt-3">
    <div class="row justify-content-around">
      <div class="col-md-7 col-lg-4 mb-2 order-2 order-lg-1 align-self-md-center" id="alibaba1"  data-toggle="modal" data-target="#alibaba1Modal" data-placement="top" title="Click to Zoom!"></div>
      <div class="col-md-7 col-lg-3 mb-2 order-1 order-lg-2" id="partyFlyer"  data-toggle="modal" data-target="#partyFlyerModal" data-placement="top" title="Click to Zoom!"></div>
      <div class="col-md-7 col-lg-2 mb-2 order-3 d-flex d-lg-none" id="alibaba2"  data-toggle="modal" data-target="#alibaba2Modal" data-placement="top" title="Click to Zoom!"></div>
      <div class="col-md-7 col-lg-4 mb-2 order-4 order-lg-3 align-self-md-center" id="alibaba3"  data-toggle="modal" data-target="#alibaba3Modal" data-placement="top" title="Click to Zoom!"></div>
    </div>
  </div>


  {{!-- <form>
    <div class="form-group">
      <label for="communityPartyAttendeeName">Full Name</label>
      <input type="text" class="form-control" id="communityPartyAttendeeName" aria-describedby="communityPartyAttendeeNameHelp" placeholder="Enter Full Name" required="true">
    </div>
    <div class="form-group">
      <label for="communityPartyAttendeePhone">Phone Number</label>
      <input type="tel" class="form-control" id="communityPartyAttendeePhone" aria-describedby="communityPartyAttendeePhoneHelp" placeholder="Enter Phone Number" required="true">
      <small id="communityPartyAttendeePhoneHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="communityPartyAttendeeEmail">Email Address</label>
      <input type="email" class="form-control" id="communityPartyAttendeeEmail" aria-describedby="communityPartyAttendeeEmailHelp" placeholder="Enter Email" required="true">
      <small id="communityPartyAttendeeEmailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="communityPartyAttendeeMessage">Message</label>
        <textarea class="form-control" id="communityPartyAttendeeMessage" rows="3" placeholder="If you'd like, you can send a message here."></textarea>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form> --}}
</div>
<div class="w-100"></div>