<div class="col-6 d-none sponsor volunteerSubForm">
  <h3>CORPORATE SPONSORSHIP</h3>
  <form>
    <div class="form-group">
      <label for="corporateSponsorshipFirstName">First Name</label>
      <input type="text" class="form-control" id="corporateSponsorshipFirstName" aria-describedby="corporateSponsorshipFirstNameHelp" placeholder="Enter First Name" required="true">
    </div>
    <div class="form-group">
      <label for="corporateSponsorshipLastName">Last Name</label>
      <input type="text" class="form-control" id="corporateSponsorshipLastName" aria-describedby="corporateSponsorshipLastNameHelp" placeholder="Enter Last Name" required="true">
    </div>
    <div class="form-group">
      <label for="corporateSponsorshipPersonalPhone">Personal Phone Number</label>
      <input type="tel" class="form-control" id="corporateSponsorshipPersonalPhone" aria-describedby="corporateSponsorshipPersonalPhoneHelp" placeholder="Enter Phone Number" required="true">
      <small id="corporateSponsorshipPersonalPhoneHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="corporateSponsorshipPersonalEmail">Personal Email Address</label>
      <input type="email" class="form-control" id="corporateSponsorshipPersonalEmail" aria-describedby="corporateSponsorshipPersonalEmailHelp" placeholder="Enter Email" required="true">
      <small id="corporateSponsorshipPersonalEmailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="corporateSponsorshipCompanyName">Company Name</label>
      <input type="text" class="form-control" id="corporateSponsorshipCompanyName" aria-describedby="corporateSponsorshipCompanyNameHelp" placeholder="Enter Company Name" required="true">
    </div>
    <div class="form-group">
      <label for="corporateSponsorshipCompanyPhone">Company Phone Number</label>
      <input type="tel" class="form-control" id="corporateSponsorshipCompanyPhone" aria-describedby="corporateSponsorshipCompanyPhoneHelp" placeholder="Enter Phone Number" required="true">
      <small id="corporateSponsorshipCompanyPhoneHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="corporateSponsorshipCompanyEmail">Company Email Address</label>
      <input type="email" class="form-control" id="corporateSponsorshipCompanyEmail" aria-describedby="corporateSponsorshipCompanyEmailHelp" placeholder="Enter Email" required="true">
      <small id="corporateSponsorshipCompanyEmailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group" id="corporateSponsorshipLevel">
      <label for="corporateSponsorshipLevel">Choose a Sponsorship Level:</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="donationRadios" id="platinumRadio" value="platinum" checked="true">
        <label class="form-check-label" for="platinumRadio">
          Sponsorship 1
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="donationRadios" id="goldRadio" value="gold">
        <label class="form-check-label" for="goldRadio">
          Sponsorship 2
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="donationRadios" id="silverRadio" value="silver">
        <label class="form-check-label" for="silverRadio">
          Sponsorship 3
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="donationRadios" id="goldRadio" value="circle">
        <label class="form-check-label" for="circleRadio">
          Sponsorship 4
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="donationRadios" id="friendRadio" value="friend">
        <label class="form-check-label" for="friendRadio"></label>
          Sponsorship 5
        </label>
      </div>
    </div>
    <div class="form-group">
        <label for="donationMessage">Message</label>
        <textarea class="form-control" id="donationMessage" rows="3" placeholder="If you'd like to attach a message to this corporate sponsorship, you can do so here."></textarea>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>
<div class="w-100"></div>