<div class="col-6 sponsor volunteerSubForm">
  <h3>CORPORATE SPONSORSHIP</h3>
  <form action="sponsor" method="POST">
    <div class="form-group">
      <label for="corporateSponsorshipFirstName">First Name</label>
      <input type="text" class="form-control" name="corporateSponsorshipFirstName" id="corporateSponsorshipFirstName" aria-describedby="corporateSponsorshipFirstNameHelp" placeholder="Enter First Name" required="true">
    </div>
    <div class="form-group">
      <label for="corporateSponsorshipLastName">Last Name</label>
      <input type="text" class="form-control" name="corporateSponsorshipLastName" id="corporateSponsorshipLastName" aria-describedby="corporateSponsorshipLastNameHelp" placeholder="Enter Last Name" required="true">
    </div>
    <div class="form-group">
      <label for="corporateSponsorshipPersonalPhone">Personal Phone Number</label>
      <input type="tel" class="form-control" name="corporateSponsorshipPersonalPhone" id="corporateSponsorshipPersonalPhone" aria-describedby="corporateSponsorshipPersonalPhoneHelp" placeholder="Enter Phone Number" required="true">
      <small id="corporateSponsorshipPersonalPhoneHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="corporateSponsorshipPersonalEmail">Personal Email Address</label>
      <input type="email" class="form-control" name="corporateSponsorshipPersonalEmail" id="corporateSponsorshipPersonalEmail" aria-describedby="corporateSponsorshipPersonalEmailHelp" placeholder="Enter Email" required="true">
      <small id="corporateSponsorshipPersonalEmailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="corporateSponsorshipCompanyName">Company Name</label>
      <input type="text" class="form-control" name="corporateSponsorshipCompanyName" id="corporateSponsorshipCompanyName" aria-describedby="corporateSponsorshipCompanyNameHelp" placeholder="Enter Company Name" required="true">
    </div>
    <div class="form-group">
      <label for="corporateSponsorshipCompanyPhone">Company Phone Number</label>
      <input type="tel" class="form-control" name="corporateSponsorshipCompanyPhone" id="corporateSponsorshipCompanyPhone" aria-describedby="corporateSponsorshipCompanyPhoneHelp" placeholder="Enter Phone Number" required="true">
      <small id="corporateSponsorshipCompanyPhoneHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="corporateSponsorshipCompanyEmail">Company Email Address</label>
      <input type="email" class="form-control" name="corporateSponsorshipCompanyEmail" id="corporateSponsorshipCompanyEmail" aria-describedby="corporateSponsorshipCompanyEmailHelp" placeholder="Enter Email" required="true">
      <small id="corporateSponsorshipCompanyEmailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group" id="corporateSponsorshipLevel">
      <label for="corporateSponsorshipLevel">Choose a Sponsorship Level:</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="sponsorshipRadios" id="oneRadio" value="1" checked="true">
        <label class="form-check-label" for="oneRadio">
          Sponsorship 1
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="sponsorshipRadios" id="twoRadio" value="2">
        <label class="form-check-label" for="twoRadio">
          Sponsorship 2
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="sponsorshipRadios" id="threeRadio" value="3">
        <label class="form-check-label" for="threeRadio">
          Sponsorship 3
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="sponsorshipRadios" id="fourRadio" value="4">
        <label class="form-check-label" for="fourRadio">
          Sponsorship 4
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="sponsorshipRadios" id="fiveRadio" value="5">
        <label class="form-check-label" for="fiveRadio"></label>
          Sponsorship 5
        </label>
      </div>
    </div>
    <div class="form-group">
        <label for="sponsorshipMessage">Message</label>
        <textarea class="form-control" name="sponsorshipMessage" id="sponsorshipMessage" rows="3" placeholder="If you'd like to attach a message to this corporate sponsorship, you can do so here."></textarea>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>
<div class="w-100"></div>