<div class="col-6 py-5 fridayDinner eventSubForm d-flex flex-wrap justify-content-center">
  <h3 class="text-center">COMMUNITY FRIDAY NIGHT DINNER - FRIDAY, APRIL 5TH</h3>
  <h5 class="text-center underline my-3">SHOW YOUR APPRECIATION BY HONORING THE BRAVE MEN AND WOMEN OF THE IDF</h5>
  <p class="mb-5 text-justify">Join us for an intimate and elegant setting with melodious singing, inspirational words, in a warm and inviting atmosphere.
     Featuring an elaborate, catered four-course meal. Hear the stories of our <strong>courageous</strong> soldiers....  
  </p>

  <a class="btn btn-lg btn-info" href="https://secure.usaepay.com/interface/epayform/MGA8L22y0pSfN8EMT7tUKvrWe4UI94yV/">Register for the Dinner Now!</a>

  {{!-- <form>
    <div class="form-group">
      <label for="dinnerAttendeeName">Full Name</label>
      <input type="text" class="form-control" id="dinnerAttendeeName" aria-describedby="dinnerAttendeeNameHelp" placeholder="Enter Full Name" required="true">
    </div>
    <div class="form-group">
      <label for="dinnerAttendeePhone">Phone Number</label>
      <input type="tel" class="form-control" id="dinnerAttendeePhone" aria-describedby="dinnerAttendeePhoneHelp" placeholder="Enter Phone Number" required="true">
      <small id="dinnerAttendeePhoneHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="dinnerAttendeeEmail">Email Address</label>
      <input type="email" class="form-control" id="dinnerAttendeeEmail" aria-describedby="dinnerAttendeeEmailHelp" placeholder="Enter Email" required="true">
      <small id="dinnerAttendeeEmailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="dinnerAttendeeMessage">Message</label>
        <textarea class="form-control" id="dinnerAttendeeMessage" rows="3" placeholder="If you'd like, you can send a message here."></textarea>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form> --}}
</div>
<div class="w-100"></div>