<div class="host volunteerSubForm">
  <h3>HOST A SOLDIER</h3>
  <form action="/host" method="POST">
    <div class="form-group" id="mealCheck">
      <label for="mealCheck">How do you want to help?</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="breakfastCheck" value="true" id="breakfastCheck" checked="true">
        <label class="form-check-label" for="breakfastCheck">
          Host Some Soldiers For Breakfast
        </label>
      </div>
      
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="dinnerCheck" value="true" id="dinnerCheck">
        <label class="form-check-label" for="dinnerCheck">
          Host Some Soldiers For Dinner
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="workCheck" value="true" id="workCheck">
        <label class="form-check-label" for="workCheck">
          Plan and Work Events
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="auctionCheck" value="true" id="auctionCheck">
        <label class="form-check-label" for="auctionCheck">
          Obtain Silent Auction Gifts/Donations
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="driveCheck" value="true" id="driveCheck">
        <label class="form-check-label" for="driveCheck">
          Drive Soldiers When Needed
        </label>
      </div>
    </div>
    <div class="form-group">
        <label for="hostMessage">Message</label>
        <textarea class="form-control" id="hostMessage" name="hostMessage" rows="3" placeholder="Is there anything else you'd like to say?" required="true"></textarea>
    </div>
    <div class="form-group">
      <label for="hostDay">Date</label>
      <br>
      <select class="form-control" name="hostDay" id="hostDay" required="true">
        <option value="04-01-2019">April 1st, 2019</option>
        <option value="04-02-2019">April 2nd, 2019</option>
        <option value="04-03-2019">April 3rd, 2019</option>
        <option value="04-04-2019">April 4th, 2019</option>
        <option value="04-05-2019">April 5th, 2019</option>
        <option value="04-06-2019">April 6th, 2019</option>
        <option value="04-07-2019">April 7th, 2019</option>
        <option value="04-08-2019">April 8th, 2019</option>
        <option value="04-09-2019">April 9th, 2019</option>
        <option value="04-10-2019">April 10th, 2019</option>
      </select>
    </div>
    <div class="form-group">
      <label for="hostName">Full Name</label>
      <input type="text" class="form-control" id="hostName" name="hostName" aria-describedby="hostNameHelp" placeholder="Enter Full Name" required="true">
    </div>
    <div class="form-group">
      <label for="hostPhone">Phone Number</label>
      <input type="tel" class="form-control" id="hostPhone" name="hostPhone" aria-describedby="hostingPhoneHelp" placeholder="Enter Phone Number" required="true">
      <small id="hostPhoneHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="hostEmail">Email Address</label>
      <input type="email" class="form-control" id="hostEmail" name="hostEmail" aria-describedby="hostEmailHelp" placeholder="Enter Email" required="true">
      <small id="hostEmailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>
<div class="w-100"></div>