<div id="intro" class="container-fluid text-white">
  <div class="row justify-content-center">
    <div class="col-1 my-5">
      <div id="flag1"></div>
    </div>
    <div class="col-9 text-center mt-5">
      <div class="p-3 rounded">
        <h1><strong>Israel Heart2Heart</strong></h1>
        <h2 class="mt-5"><strong>Connecting Americans With Wounded Israeli Soldiers</strong></h2>
        <h2>Wounded IDF Fighters Project</h2>
        <h2>Join us Florida style to</h2>
        <h2 class="font-weight-bold">Appreciate - Honor - Build Relationships</h2>
        <h4>April 1-10, 2019</h4>
      </div>
    </div>
    <div class="col-1 my-5">
      <div id="flag2"></div>
    </div>
    <div class="w-100"></div>


    <div class="col-12 mb-4">
      <div class="container-fluid">
        <div class="row mt-4 justify-content-center text-center">
          <div class="col-lg-3 bg-dark rounded shadow-lg mx-3">
            <div style="padding:62.5% 0 0 0; position:relative;">
              <iframe src="https://player.vimeo.com/video/309326801?byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-lg-3 bg-dark rounded shadow-lg mx-3">
            <a href="" data-toggle="modal" data-target="#adirSeroyaModal" data-placement="top" title="Click to see Adir's profile" >
              <div id="soldierTop1" class="ml-auto mr-auto mt-1"></div>
              <p class="m-2">Adir Seroya</p>
              <p class="m-2">2018</p>
            </a>
          </div>
          <div class="col-lg-3 bg-dark rounded shadow-lg mx-3">
            <a href="" data-toggle="modal" data-target="#razBudanyModal" data-placement="top" title="Click to see Raz's profile" >
              <div id="soldierTop2" class="ml-auto mr-auto mt-1"></div>
              <p class="m-2">Raz Budany</p>
              <p class="m-2">2019</p>
            </a>
          </div>
        </div>
        <div class="row mt-4 justify-content-center text-center">
          <div class="col-lg-3 bg-dark rounded shadow-lg mx-3">
            <a href="" data-toggle="modal" data-target="#binyaminMichaelPerskyModal" data-placement="top" title="Click to see Binyamin's profile">
              <div id="soldierTop3" class="ml-auto mr-auto mt-1"></div>
              <p class="m-2">Binyamin Michael Persky</p>
              <p class="m-2">2018</p>
            </a>
          </div>
          <div class="col-lg-3 bg-dark rounded shadow-lg mx-3">
            <div style="padding:62.5% 0 0 0;position:relative;">
              <iframe src="https://player.vimeo.com/video/309325920?byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-lg-3 bg-dark rounded shadow-lg mx-3">
            <a href="" data-toggle="modal" data-target="#havivLeviModal"  data-placement="top" title="Click to see Haviv's profile">
              <div id="soldierTop4" class="ml-auto mr-auto mt-1"></div>
              <p class="m-2">Haviv Levi</p>
              <p class="m-2">2019</p>
            </a>
          </div>
        </div>
        <div class="row mt-4 justify-content-center text-center">
          <div class="col-lg-3 bg-dark rounded shadow-lg mx-3">
            <a href="" data-toggle="modal" data-target="#aminadavHamoModal" data-placement="top" title="Click to see Aminadav's profile">
              <div id="soldierTop5" class="ml-auto mr-auto mt-1"></div>
              <p class="m-2">Aminadav Hamo</p>
              <p class="m-2">2018</p>
            </a>
          </div>
          <div class="col-lg-3 bg-dark rounded shadow-lg mx-3">
            <a href="" data-toggle="modal" data-target="#yakirAmiriModal"  data-placement="top" title="Click to see Yakir's profile">
              <div id="soldierTop6" class="ml-auto mr-auto mt-1"></div>
              <p class="m-2">Yakir Amiri</p>
              <p class="m-2">2019</p>
            </a>
          </div>
          <div class="col-lg-3 bg-dark rounded shadow-lg mx-3">
            <div style="padding:62.5% 0 0 0;position:relative;">
              <iframe src="https://player.vimeo.com/video/309327869?byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="soldier-programs" class="container-fluid bg-light pb-5">
  
  <div class="row justify-content-around align-items-center">

    <!-- Explaining Soldier Program -->


    <div class="col-10 col-md-5 order-2 order-lg-1 col-lg-2">
      <div id="program-photo-div-1" class="my-1"></div>
      <div id="program-photo-div-2" class="my-1"></div>
      <div id="program-photo-div-3" class="my-1"></div>
    </div>
    <div class="col-10 col-md-8 col-lg-6 order-1 order-lg-2 pb-5">
      <h2 class="pt-5 text-center underline"><strong>10 DAYS OF SOLDIER PROGRAMMINGS</strong></h2>
      <h3 class="text-center underline mt-5">HONORING THE WOUNDED MEN AND WOMEN OF THE IDF</h3>
      <p class="text-justify">Belev Echad is a global movement dedicated to ensuring the wounded men and women
          of the Israeli Defense Forces receive the support they need to live productive
          and well-adjusted lives. With programs that include legal and medical advocacy, 
          educational scholarships, social and recreational events, mentorships and career 
          placement, we empower each soldier to thrive.
      </p>
    <div class="container-fluid">
      <!-- Soldier Program List -->
      <div class="row">
        <div class="col-md-6 soldier-bullets">
          <ul>
            <li>Emotional Healing Through Storytelling</li>
            <li>Building Relationships in Florida</li>
            <li>Learning American Values About Israel</li>
            <li>Openly Sharing Experiences from Israel</li>
            <li>New American/Israeli Friendships</li>
          </ul>
        </div>
        <div class="col-md-6 soldier-bullets">
          <ul>
            <li>Day Cruise on a Yacht and Jet Skiing </li>
            <li>Miami Heat Basketball Game</li>
            <li>Ft Lauderdale Pub Crawl and Dinner</li>
            <li>Community Theme Party</li>
            <li>Beach Volleyball Party</li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="col-10 col-md-5 order-3 col-lg-2">
      <div id="program-photo-div-4" class="my-1"></div>
      <div id="program-photo-div-5" class="my-1"></div>
      <div id="program-photo-div-6" class="my-1"></div>
    </div>
  </div>
</div>

<div id="getting-involved" class="container-fluid bg-dark text-white">
  <div class="row justify-content-center py-5">
    <div class="col-6">
      <h2 class="text-center underline"><strong>GETTING INVOLVED</strong></h2>
    </div>
    <div class="w-100"></div>


    <div class="col-10 col-md-8 col-lg-6 py-5 d-flex flex-wrap justify-content-center" id="corporate-sponsorships">
      <h3>CORPORATE SPONSORSHIPS</h3>
      <p class="text-justify">We are bringing 12 wounded soldiers to South Florida and hosting 
        them for 10 days and need your help. To bring these wounded Israeli 
        soldiers into our community is a mitzvah which takes funding. 
        Please help us by contributing directly to helping the soldiers 
        experience South Florida by becoming a Corporate Sponsor. We have 
        multiple levels of sponsorships where you and your company or organization 
        can make a real difference in the healing process of Israeli soldiers 
        fighting to protect the Jewish state.
      </p>
      <a href="https://secure.usaepay.com/interface/epayform/wm6RLtYOJfg7rFtq0KAMe4KRX8x4s5Ag/" class="btn btn-info btn-lg mt-3">
        Click Here to Sponsor
      </a>
    </div>
    <div class="w-100"></div>
    <div class="col-10 col-md-5 col-lg-4 mb-4"><img class="sponsor-logo" style="background: white;" src="./images/greenpoint-new-logo.png" alt=""></div>
    <div class="w-100"></div>
    <div class="col-7 col-md-3 col-lg-2 align-self-center mb-4"><img class="sponsor-logo"src="./images/exclusive_italian_tours.png" alt=""></div>
    <div class="col-7 col-md-3 col-lg-2 align-self-center mb-4"><img class=" sponsor-logo" src="./images/clear_advice_financial_logo.jpg" alt=""></div>
    <div class="w-100 py-3"></div>
    <div class="col-10 col-md-8 col-lg-6 py-5 d-flex flex-wrap justify-content-center" id="individual-donations">
      <h3>INDIVIDUAL DONATIONS</h3>
      <p class="text-justify">Your donations are an important way to show just how much you care 
        about helping the wounded soldiers of the IDF that we are bringing 
        to our Las Olas and South Florida community. Bringing them to America 
        and hosting them here in Ft Lauderdale to meet our community families takes resources. 
        PLEASE donate and help us show them a great time Florida style. 
      </p>
      <a href="https://secure.usaepay.com/interface/epayform/7mcUzdeAXRV8IgfK3GFWNIOsTqRZKj2L/" class="btn btn-info btn-lg mt-3">Click Here to Donate</a>
    </div>
    <div class="w-100"></div>
    <div class="col-10 col-md-8 col-lg-6 py-5 d-flex flex-wrap justify-content-center" id="volunteers">
      <h3>VOLUNTEERS NEEDED</h3>
      <p class="text-justify">We need volunteers from our community to help us with the programming and 
        events for our honored wounded Israeli Soldier guests. Help us welcome these 
        young men and woman of the IDF. Let’s us know what you would like 
        to do during their 10 day stay.
      </p>
      <a href="" data-toggle="modal" data-target="#volunteerModal" class="btn btn-info btn-lg mt-3">Click Here to Volunteer</a>
    </div>
    <div class="w-100"></div>
    <div class="col-10 py-5 d-flex flex-wrap justify-content-center" id="heart-2-heart-committee">
      <h3 class="mb-5 text-center">ISRAEL HEART2HEART COMMITTEE</h3>
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-md-6 col-lg-4 d-flex flex-column">
            <h5 class="flex-grow-1">Committee Chair</h5>
            <p class="flex-grow-1">Rabbi Chaim Slavaticki</p>
          </div>
          <div class="col-md-6 col-lg-4 d-flex flex-column">
            <h5 class="flex-grow-1">Fundraising</h5>
            <p class="flex-grow-1">Dean Myerow</p>
          </div>
          <div class="col-md-6 col-lg-4 d-flex flex-column">
            <h5 class="flex-grow-1">Corporate Sponsorships</h5>
            <p class="flex-grow-1">Jeremy Green</p>
          </div>
          <div class="col-md-6 col-lg-4 d-flex flex-column">
            <h5 class="flex-grow-1">Marketing</h5>
            <p class="flex-grow-1">Eric Donner</p>
          </div>
          <div class="col-md-6 col-lg-4 d-flex flex-column">
            <h5 class="flex-grow-1">Website Development</h5>
            <p class="flex-grow-1">Jack Fischer</p>
          </div>
          <div class="col-md-6 col-lg-4 d-flex flex-column">
            <h5 class="flex-grow-1">Advisory Member</h5>
            <p class="flex-grow-1">Evan Stahl</p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    {{!-- {{> corporateSponsorshipFormPartial}} --}}
    
    {{!-- {{> individualDonationFormPartial}} --}}

    {{!-- {{> hostFormPartial}} --}}

  </div>
</div>

<div id="meet-the-soldiers" class="container-fluid bg-light">
  <h2 class="py-5 text-center underline"><strong>MEET THE SOLDIERS</strong></h2>

  <div class="row justify-content-center">
    <div class="col-10 col-md-8 col-lg-6">
      <p class="text-justify">
      What started off as a local initiative of the New York Upper East Side Jewish
      community has now become a global movement, dedicated to helping veterans of the 
      IDF reintegrate into civilian life with the love and support they need to thrive. 
      In 2018, a south Florida trip sparked an inititive by the Las Olas Chabbad due 
      to the passion and Jewish and Israeli values of our community. We are honored 
      to bring another twelve wounded Israeli soldiers in 2019 to our community for 
      a warm embrace and healing - South Florida style.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="container-fluid">
        <h3 class="text-center underline pt-5">Learn About Our Impact on Our 2018 Soldiers</h3>
        <div class="row text-center justify-content-center">
          {{#each soldiers2018}}
            {{> soldierPartial this}}
            {{#if_odd @index}}
              <div class="w-100"></div>    
            {{/if_odd}}
          {{/each}}
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <h3 class="text-center underline pt-5">Create and Feel the Impact on Our 2019 Soldiers</h3>
      <div class="container-fluid">
        <div class="row text-center justify-content-center">
          {{#each soldiers2019}}
            {{> soldierPartial this}}
            {{#if_odd @index}}
              <div class="w-100"></div>    
            {{/if_odd}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<div id="event-registration" class="container-fluid bg-dark text-white">
  <div class="row justify-content-center py-5">
    <div class="col-md-6 col-lg-3 pb-3 text-center pb-3">
      <h2 class="underline"><strong>EVENT REGISTRATION</strong></h2>
    </div>
    <div class="w-100"></div>
    

    {{!-- <div class="col-6">
      <label for="formDropdown">Choose an Event to Attend from the Dropdown Menu:</label>
      <select id="formDropdown" class="form-control form-control-lg mb-5 volunteerFormSelector" data-target=".eventSubForm">
        <option value="fridayDinner" data-show=".fridayDinner">Community Friday Night Dinner - Friday, April 5th</option>
        <option value="communityParty" data-show=".communityParty">Community Theme Party - Sunday, April 7th</option>
        <option value="otherEvent" data-show=".otherEvent">Other Event</option>
      </select>
    </div>
    <div class="w-100"></div> --}}

    {{> dinnerAttendeeFormPartial}}

    {{> communityPartyAttendeeFormPartial}}


  </div>
</div>
<div id="foot" class="bg-light">
  <p class="mb-0 ml-2 mr-auto">Las Olas Chabad © 2019</p>
  <a href="https://www.facebook.com/LasOlasChabadJewishCenter/">
    <i class="fab fa-facebook-square fa-2x"></i>
  </a>
  <a href="https://www.instagram.com/lasolasjewishcenter/">
    <i class="fab fa-instagram fa-2x"></i>
  </a>
</div>


{{#each soldiers2018}}
  {{> soldierModalPartial this}}
{{/each}}

{{#each soldiers2019}}
  {{> soldierModalPartial this}}
{{/each}}

<div class="modal fade" id="volunteerModal" tabindex="-1" role="dialog" aria-labelledby="volunteerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="volunteerModalLabel">Volunteer Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{> hostFormPartial}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="alibaba1Modal" tabindex="-1" role="dialog" aria-labelledby="alibaba1ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alibaba1ModalLabel">Middle Eastern Theme Party</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img style="width: 100%; height: auto;" src="./images/alibaba1.jpg" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="alibaba2Modal" tabindex="-1" role="dialog" aria-labelledby="alibaba2ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alibaba2ModalLabel">Middle Eastern Theme Party</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img style="width: 100%; height: auto;" src="./images/alibaba2.jpg" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="alibaba3Modal" tabindex="-1" role="dialog" aria-labelledby="alibaba3ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="alibaba3ModalLabel">Middle Eastern Theme Party</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img style="width: 100%; height: auto;" src="./images/alibaba3.jpg" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>