body{
  font-family: 'Raleway', sans-serif;
  position: relative;
}

#foot{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


#foot i{
  padding-right:2rem;
}

#intro{
  background-image: url(https://images.unsplash.com/photo-1534965656385-134872ab1b0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro a{
  text-decoration: none;
  color: white;
}

#intro .col-lg-4{
  display: flex;
  justify-content: center;
}

#meet-the-soldiers a{
  text-decoration: none;
  color: #343a40;
}

#program-photo-div-1{
  height: 150px;
  width: 100%;
  background-image: url(../images/belev-echad1.jpe); 
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

#program-photo-div-2{
  height: 150px;
  width: 100%;
  background-image: url(../images/belev-echad2.jpg); 
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

#program-photo-div-3{
  height: 150px;
  width: 100%;
  background-image: url(../images/belev-echad3.jpg); 
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

#program-photo-div-4{
  height: 150px;
  width: 100%;
  background-image: url(../images/belev-echad4.jpg); 
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

#program-photo-div-5{
  height: 150px;
  width: 100%;
  background-image: url(../images/belev-echad5.jpg); 
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

#program-photo-div-6{
  height: 150px;
  width: 100%;
  background-image: url(../images/belev-echad6.jpg); 
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}



.composite{
  height: 200px;
  width: auto;
}

.intro-image{
  height: 180px;
  width: auto;
}

.nav-pills .nav-link.active{
  background: #17a2b8;
}

.soldier-image{
  height: 80px;
  width: auto;
}

.soldier-bullets{
    font-size: 0.80rem;
}

.small-brand-logo{
  height: 50px;
  width: auto;
}

.smaller-brand-logo{
  height: 30px;
  width: auto;
}

.underline{
  text-decoration: underline;
}