body{
  font-family: 'Raleway', sans-serif;
  position: relative;
}


#intro{
  background-image: url(https://images.unsplash.com/photo-1534965656385-134872ab1b0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro a{
  text-decoration: none;
  color: white;
}

#intro .col-lg-4{
  display: flex;
  justify-content: center;
}

#meet-the-soldiers a{
  text-decoration: none;
  color: #343a40;
}

.composite{
  height: 200px;
  width: auto;
}

.intro-image{
  height: 180px;
  width: auto;
}

.nav-pills .nav-link.active{
  background: #17a2b8;
}

.soldier-image{
  height: 80px;
  width: auto;
}

.small-brand-logo{
  height: 50px;
  width: auto;
}

.smaller-brand-logo{
  height: 30px;
  width: auto;
}

.underline{
  text-decoration: underline;
}